@{
  Layout = "_Layout";
}
@using System.Collections.Generic;
@using HairSalon.Models;
@model HairSalon.Models.Stylist

<h2>Stylist Details</h2> 
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>
<h3>@Html.DisplayNameFor(model => model.Details): @Html.DisplayFor(model => model.Details)<h3>


 <h4>Clients</h4>
@if (Model.Clients.Count == 0)
{
  <p>@Html.DisplayFor(model => model.Name) has no clients listed.</p>
}
else
{
  @foreach (Client client in Model.Clients)
  {
    <h3>@Html.ActionLink($"{client.Name}", "Details", "Clients", new { id = client.ClientId})</h3>
  }
}


<p>@Html.ActionLink("Back to list", "Index")</p>